body {
    color:black;
    background: white;  
    margin: 0px;
    font-family: "Oswald", sans-serif;
}

header {
    border-bottom: solid rgb(202, 2, 2);
    padding:20px;
    font-size: 28px;
    color:rgb(202, 2, 2);
}

section {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 25px;

}

div {

    margin-right: 20px
    
}

h1{
    font-size: 50px;
}

p{
    font-size: 25px;
    margin-left: 10px;
}
img {
    heigth: 70px;
    
}
